<%-include('./userLayout/header')%>
    <style>
        body {
            background-color: #f3e0e2;
        }

        .no-hover {
            pointer-events: none;
        }
    </style>
    <div class=" text-center">
        <div class="container rounded signOuter col-md-3">
            <h5 class="text-dark mt-5 mb-5">OTP Verification</h5>
            <% if(locals.emailAlert){ %>
                <h7 class="text-dark mt-1 mb-1">OTP send to</h7><br><small> <%= emailAlert %></small><br>
                
                <% } %>
                    <%if(locals.signupAlert){%>
                        <div class="alert alert-danger text-center" id="signupAlert" role="alert">
                            <%=(locals.signupAlert)%>
                        </div>
                        <%}%>

                            <form action="/otpSignupForPasswordResetting" method="post">
                                <input type="text" placeholder="OTP" name="otp" id="otpInput" class="form-control " /><br>
                                <small id="otpError" style="color: red;"></small><br>
                                <div id="otpTimer"></div>
                                
                                <!-- <button type="button" style="display:none ;" class="btn-signup mb-4" id="otpButton"
                                    onclick="resendOTP()">Resend OTP</button> -->
                                <button type="submit" class="btn-signup mb-4" id="signupButton" onclick="sendOTP()">Submit</button>
                            </form>
        </div>
    </div>
    <script>
            startOtpTimer();
        
        // Function to start the countdown timer

        function startOtpTimer() {
            let timer = 10; // OTP validity 
            const otpTimer = document.getElementById('otpTimer');

            const countdown = setInterval(() => {
                const seconds = timer;
                otpTimer.textContent = `OTP valid for:  ${seconds}s`;

                if (timer <= 0) {
                    clearInterval(countdown);
                    otpTimer.textContent = 'OTP expired';
                    // document.getElementById('otpButton').textContent = 'Resend OTP';
                    // document.getElementById('otpButton').disabled = false;    //to re enable the button
                    // document.getElementById('otpButton').classList.remove('no-hover');   //to regain hover effect
                    document.getElementById('otpButton').style.display = 'inline-block';
                }

                timer--;
            }, 1000);
        }
    // document.getElementById('otpButton').textContent = 'Resend OTP';    //changing the text content of the otpButton    
    </script>

    <script>
//        function sendOTP(){
//     const OTP = document.getElementById('otpInput').value;
    
//     fetch(`/otpSignupForPasswordResetting?otp=${OTP}`, {
//         method: 'POST'
//     })
//     .then(response => {
//         if (!response.ok) {
//             throw new Error('Network response was not ok');
//         }
//         return response.json(); 
//     })
//     .then(data => {
        
//         if (data.message === "success") {
//             window.location.href = "/";
//         } else if(data.message === "failed") {
//            const otpError = document.getElementById('otpError')
//            otpError.textContent = "Invalid OTP"
//         }
//     })
//     .catch(error => {
//         console.error('Fetch Error:', error);
        
//     });
// }

            
            
            
    
    </script>
    
    <!-- <script>
        function resendOTP() {
            fetch('/resendOtp', {
                method: 'GET',
                // You can pass additional data if needed
                // body: JSON.stringify({ email: 'user@example.com' }),
            })
                .then(response => {
                    if (response.ok) {
                        // Start the timer only if the request is successful
                        location.reload();
                        return response.json();
                    } else {
                        // Handle errors, e.g., display an error message
                        console.error('Error triggering OTP resend:', response.statusText);
                        return Promise.reject('Error triggering OTP resend');
                    }
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    // Handle unexpected errors
                    console.error('Error:', error);
                });
        }
    </script> -->
    <script>
        // Function to hide the alert message after 3 seconds
        setTimeout(() => {
            document.getElementById("signupAlert").style.display = "none";
        }, 2000);

       

    </script>





    <%-include('./userLayout/footer')%>